[workspace]
resolver = "2"
members = ["panel-controller", "example-bar"]

[workspace.dependencies]
bar-panel-controller = { path = "panel-controller" }

crossterm = { version = "0.29.0", default-features = false, features = [
    "event-stream",
    "serde",
] }
anyhow = "1.0.100"
futures = { version = "0.3.31", default-features = false }
tokio = { version = "1.49.0", features = [
    "macros",
    "net",
    "rt-multi-thread",
    "signal",
    "io-std",
] }
tokio-util = { version = "0.7.18", features = ["rt", "time"] }
flexi_logger = "0.31.7"
log = "0.4.29"
image = { version = "0.25.9", default-features = false, features = [
    "png",
    "serde",
] }
serde = { version = "1.0.228", features = ["rc"] }
