[package]
name = "bar"
version = "0.1.0"
edition = "2024"

[dependencies]
crossterm = { version = "0.29.0", default-features = false, features = [
    "event-stream",
    "serde",
] }

anyhow = "1.0.100"
chrono = { version = "0.4.42", default-features = false, features = ["clock"] }
flexi_logger = "0.31.7"
futures = "0.3.31"

#NOTE: Hyprland uses the wrong event listener socket path on 0.3.13
hyprland = { version = "0.4.0-beta.3", features = [
    "async-lite",
    "listener",
], default-features = false }
image = { version = "0.25.9", default-features = false, features = [
    "png",
    "serde",
] }
log = "0.4.29"
serde = { version = "1.0.228", features = ["rc"] }
tokio = { version = "1.48.0", features = ["macros", "net", "rt-multi-thread"] }
tokio-stream = { version = "0.1.17", features = ["full"] }
zbus = "5.12.0"
ppd = { version = "0.1.7", features = ["tokio"] }
libpulse-binding = "2.30.1"
postcard = { version = "1.1.3", features = ["alloc", "use-std"] }
tempfile = "3.24.0"
system-tray = { git = "https://github.com/maxdexh/system-tray", rev = "b044405df25afab772b2771e64303864d648fceb" }
serde_json = { version = "1.0.148", features = ["raw_value"] }
base64 = "0.22.1"
tokio-util = { version = "0.7.18", features = ["rt", "time"] }
unicode-segmentation = "1.12.0"
pin-project-lite = "0.2.16"
